body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

h1{
    margin: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.input{
    border: 1px solid #333;
    border-radius: 5px;
    padding: 4px;
    width: 150px;
}

select{
    margin-left: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 4px;
    width: 100px;
}

/* option{
    margin: 11px;
} */

.equals{
    font-weight: bold;
    font-size: 32px;
}